<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Editar</h1>
    <form action="/edit/<%= user.id %>" method="post">
      <label for="firstname">
        <input
          type="text"
          name="firstname"
          id="firstname"
          value="<%= user.firstname %>"
      /></label>
      <label for="lastname">
        <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>"
      /></label>
      <label for="email">
        <input type="text" name="email" id="email" value="<%= user.email %>"
      /></label>
      <label for="password">
        <input type="text" name="password" id="password" value="<%= user.password %>"
      /></label>
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
